* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #03060e;
  color: #D8F3DC;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

button {
  /* background-color: rgba(255, 244, 244, 0.226); */
  background-color: #0B132B;
  color: white;
  letter-spacing: 0.05em;
  width: 90px;
  height: 30px;
  border: 1px outset #414c6d;
  border-radius: 3px;
  box-shadow: 0px 0px 0px #fff;
  margin-left: 4px;
  margin-right: 4px;
  align-self: center;
}

button:hover {
  background-color: #3E92CC;
  text-shadow: 0px 8px 6px rgba(0,0,0,0.9);
  box-shadow: 7px 7px 0px rgba(255, 255, 255, 0.521), -7px -7px 0px rgba(255, 255, 255, 0.521);
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  transition: all 0.4s ease 0s;
}

input {
  margin: 5px 5px;
}

.header-search {
  background-color: #03060e;
  color: #3E92CC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dropdown {
  position: relative;
  /* display: inline-block; */
  float: left;
  left: 10px;
  /* top: 3vh; */
  align-self: center;
}

.drop-button {
  background-color: #0B132B;
  border: 1px outset #414c6d;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 30vw;
  height: 20vh;
  background-color: #0B132B;
  box-shadow: 0px 5px 10px -5px #A3B18A;
  z-index: 1;
  left: 0;
}

.dropdown-content span {
  color: #3E92CC;
  padding: 2px;
  margin: 5px;
  height: 25px;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  background-color: #0B132B;
}

.dropdown-content span:hover {
  background-color: rgba(255, 255, 255, 0.521);
  color: #0B132B;
  text-transform: capitalize;
}

.dropdown:hover .dropdown-content {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}

/*drop down menu*/
.dropdown-m {
  position: relative;
  /* display: inline-block; */
  float: left;
  right: 10px;
  /* top: 3vh; */
  align-self: center;
}

.drop-button-m {
  background-color: #0B132B;
  border: 1px outset #414c6d;
  cursor: pointer;
}

.dropdown-content-m {
  display: none;
  position: absolute;
  width: 10vw;
  max-height: 20vh;
  background-color: #0B132B;
  box-shadow: 0px 5px 10px -5px #bbbbbb;
  z-index: 1;
  right: 0;
}

.dropdown-content-m span {
  color: #3E92CC;
  padding: 2px;
  margin: 5px;
  height: 25px;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  background-color: #0B132B;
}

.dropdown-content-m span:hover {
  background-color: rgba(255, 255, 255, 0.521);
  color: #0B132B;
  text-transform: capitalize;
}

.dropdown-m:hover .dropdown-content-m {
  cursor: pointer;
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
}
