.header-logout-button {
    color: springgreen;
}

.header-div {
    background-color: #03060e;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    height: 13vh;
    width: 100vw;
    /* border: solid 1px white; */
}


/* COMMENTED OUT PREVIOUS CODE BELOW */
/* .header-search-div{
    display: flex;
    flex-direction: row;
    align-self: center;
} */



/* NEW STUFF - Section One - START */
.header-search-div{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: fit-content;
    position: relative;
    left: 1vw;
    /* border: solid 1px white; */
}

.search-input {
    width: 20vw;
}

/* NEW STUFF - Section One - END */


.header-links-div, .favorites-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin: 5% 5%; */
}

.icons {
    margin-left: 5px;
}

.icons:hover {
    background-color: #3E92CC;
    border-radius: 30px;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.4s ease 0s;
}

.sm-button {
    width: 40px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.favorites-div {
    height: 50%;
    width: 10%;
    align-self: center;
}

.favorites-link {
    background-color: purple;
    border: solid 2px goldenrod;
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    margin: 0 10px;
}


/* I think this className no longer exists */
/* .header-sign-div {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: flex-end;
    width: 32%;
} */


.sm-adjust-button {
    position: relative;
    display: inline-block;
    /* float: left; */
    left: -1vw;
    top: 0.4vh;
    align-self: center;
}



@media (min-width: 500px) {
    .header-search-div{
        display: flex;
        flex-direction: row;
        align-self: center;
        width: fit-content;
        position: relative;
        left: 1vw;
        /* border: solid 1px white; */
    }

    .sm-adjust-button {
        position: relative;
        display: inline-block;
        /* float: left; */
        left: 0vw;
        top: 0.4vh;
        align-self: center;
    }
  }
