.header-logout-button {
    color: springgreen;
}

.header-div {
    background-color: #080C0A;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    height: 15vh;
    width: 100vw;
  }

.header-search-div{
    align-self: center;
}

.header-links-div, .favorites-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin: 5% 5%; */
}

.favorites-div {
    height: 50%;
    width: 10%;
    align-self: center;
}

.favorites-link {
    background-color: purple;
    border: solid 2px goldenrod;
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    margin: 0 10px;
}

.header-sign-div {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: flex-end;
    width: 32%;
}