.header-logout-button {
    color: springgreen;
}

.header-div {
    background-color: #03060e;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    height: 15vh;
    width: 100vw;
}

.header-search-div{
    align-self: center;
}

.header-links-div, .favorites-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin: 5% 5%; */
}

.icons {
    margin-left: 5px;
}

.icons:hover {
    background-color: #3E92CC;
    border-radius: 30px;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.4s ease 0s;
}

.sm-button {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorites-div {
    height: 50%;
    width: 10%;
    align-self: center;
}

.favorites-link {
    background-color: purple;
    border: solid 2px goldenrod;
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    margin: 0 10px;
}

.header-sign-div {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: flex-end;
    width: 32%;
}