* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box-group {
  width: 80%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box-single {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 130px;
  width: 170px;
  position: relative;
  cursor: pointer;
}

.box-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  filter: brightness(50%);
  cursor: pointer;
}

.box-text {
  position: absolute;
  width: 100px;
  text-transform: capitalize;
}

/* #trending-terms{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin: 30px 0px 30px 0px;
    color: white;
} */

.trending-item{
    height:30%;
    width: fit-content;
    border: 1px white solid;
    margin: 3px;
    padding: 3px;
    text-align: center;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.scene {
    width: 200px;
    height: 200px;
    perspective: 600px;
    margin: 80px;
    perspective: 400px;
    cursor: copy;
}
  
.cube-images {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform .1s;
    animation-name: rotate;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate3d(0, 0, 0, 0);
    }
    25% {
      transform: rotate3d(1, 1, 1, 45deg);
    }
    50% {
      transform: rotate3d(2, 1, 1, 192deg);
    }
    100% {
      transform: rotate3d(2, 1, 1, 360deg);
      ;
    }
  }

.cube-face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    /* color: white; */
    text-align: center;
  }

.cube-face + img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cube-face-front  { 
    background-color: rgba(226, 77, 77, 0.322);
    transform: rotateY(  0deg) translateZ(100px); 
}

.cube-face-right  { 
    background-color: rgba(255, 255, 0, 0.219);
    transform: rotateY( 90deg) translateZ(100px); 
}

.cube-face-back   { 
    background-color: rgba(0, 128, 0, 0.288);
    transform: rotateY(180deg) translateZ(100px); 
}

.cube-face-left   { 
    background-color: rgba(0, 0, 255, 0.301);
    transform: rotateY(-90deg) translateZ(100px); 
}

.cube-face-top    { 
    background-color: rgba(128, 0, 128, 0.329);
    transform: rotateX( 90deg) translateZ(100px); 
}

.cube-face-bottom { 
    background-color: rgba(255, 166, 0, 0.336);
    transform: rotateX(-90deg) translateZ(100px); 
}