body {
    background-color: #03060e;
    color: #D8F3DC;
}

.signup-div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border: solid 1px lightblue;
  }

.signup-content {
    text-align: center;
    border: solid 1px lightcoral;
}

.signup-form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 20%;
      width: fit-content;
      border: solid 1px gray;
}

.signup-button {
      position: relative;
      /* left: 18vw; */
}

  @media (min-width: 600px) {
    .signup-button {
        position: relative;
        /* left: 5.2vw; */
    }
  
  }

