body {
  background-color: #03060e;
  color: rgb(255,255,255);
}

.signup-div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      /* border: solid 1px lightblue; */
  }

  .signup-text-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

.signup-email-text {
  padding-bottom: 10px;
}

.signup-form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 20%;
      /* width: fit-content; */
}